/* homepage transitions */

.middle-text{
    animation: transitionIn 2s
}

.fas{
    animation: transitionInArrow 2s
}

@keyframes transitionIn {
    from{
        opacity: 0;
        transform: translateY(20vh);
    }

    to {
        opacity: 1;
        transform: translateY(0vh);
    }
}

@keyframes transitionInArrow {
    from{
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('assets/proxima.ttf'); /* IE9 Compat Modes */
    src: url('assets/proxima.ttf') format('woff'), /* Browsers */
         url('assets/proxima.ttf')  format('truetype'), /* Safari, Android, iOS */
  }

/* navigation */
.menu {
    text-align:right;
    font-family:'Proxima Nova';
}

.menu li a {
    text-decoration: none;
 }

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav ul {
    line-height: 60px;
    list-style: none;
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    display: none;
}
/* swup transtitions stuff */
.transition-fade {
    transition: 0.4s;
    opacity: 1;
  }
  
  html.is-animating .transition-fade {
    opacity: 0;
  }

/* social media icon stuff */
  .icons ul {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 0;
    margin: 0;
    display: flex;
}
.icons ul li {
    list-style: none;
    margin: 0 10px;
}
.icons ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.icons ul li .fab {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.icons ul li .fa:hover {
    color: #ffffff;
}
.icons ul li .fab:hover {
    color: #ffffff;
}
.icons ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.icons ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.icons ul li:nth-child(1) a:hover {
    background-color: #55acee;
}
.icons ul li:nth-child(2) a:hover {
    background-color: #df2020;
}
.icons ul li:nth-child(3) a:hover {
    background-color: #23272A;
}
.icons ul li:nth-child(4) a:hover {
    background-color: #6518ad;
}

.tkimage:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
    transition: 0.5s
}

.fas {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, 0%);
    color:#fff
}